extends layout

block head
  meta(property='fb:app_id' content=FACEBOOK_APP_ID)
  meta(property='og:url' content=APP_URL)
  meta(property='og:type' content='website')
  meta(property='og:title' content=APP_TITLE)
  meta(property='og:description' content=APP_DESCRIPTION)
  meta(property='og:image' content=APP_IMAGE)
  link(href=APP_CSS rel='stylesheet')
  script.
    <!-- Hotjar Tracking Code for Games Searcher -->
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () {(h.hj.q = h.hj.q || []).push(arguments)};
      h._hjSettings = { hjid: 435587, hjsv: 5 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script');
      r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');

block pre_content
  script.
    window.fbAsyncInit = function () {
      FB.init({
        appId  : '#{FACEBOOK_APP_ID}',
        xfbml  : true,
        version: 'v2.8'
      });
      FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

block content
  script(type='text/javascript' src='vendor.js')
  script(type='text/javascript' src=APP_JS)
